* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
body,
html,
.App {
  height: 100%;
  width: 100%;
  background-color: #E0E5EC;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-ColorDisp {
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
}